ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: 100%;
}

.gallery {
    padding: 24px 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    transition: transform 0.3s;
}

.gallery-item .gallery-link:hover {
    cursor: zoom-in;
}


.gallery-item:hover {
    transform: scale(1.03);
}
